addict==2.4.0
asttokens==3.0.1
blinker==1.9.0
comm==0.2.3
configargparse==1.7.1
dash==4.0.0
executing==2.2.1
fastjsonschema==2.21.2
flask==3.1.2
ipython==9.10.0
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
joblib==1.5.3
jupyter-core==5.9.1
jupyterlab-widgets==3.0.16
matplotlib-inline==0.2.1
narwhals==2.16.0
nbformat==5.10.4
nest-asyncio==1.6.0
open3d==0.19.0
pandas==3.0.0
parso==0.8.5
pip==24.0
platformdirs==4.5.1
plotly==6.5.2
prompt-toolkit==3.0.52
pure-eval==0.2.3
pyquaternion==0.9.9
retrying==1.4.2
scikit-learn==1.8.0
stack-data==0.6.3
threadpoolctl==3.6.0
tqdm==4.67.3
traitlets==5.14.3
wcwidth==0.5.3
werkzeug==3.1.5
widgetsnbextension==4.0.15
